/* 共通 */
* {
    /* color: #fff; */
    text-align: center;
}

/* contact.html */
#contact_html {
    background: linear-gradient( 100deg, #fdc16733, 90%, #ec7b7c);
}

#contact_html h1 {
    color: #f75c3d;
}

#c_discription {
    margin-bottom: 50px;
}

input:not(.ans_type) {
    width: 300px;
    height: 30px;
    text-align: left;
    outline-color: #f75c3d;
    border-radius: 10px;
    border: 1px solid #767676;
}

#ans_type {
    text-align: center;
}

.ans_type {
    display: none;
}

#ans_type label {
    display: inline-block;
    height: 50px;
    width: 150px;
    border: 1px solid #f75c3d;
    border-radius: 10px;
}

.ans_type:checked + label {
    background-color: #f75c3d;
    color: #fff;
}

textarea {
    width: 300px;
    height: 200px;
    resize: none;
    outline-color: #f75c3d;
    border-radius: 10px;
    border: 1px solid #767676;
    text-align: left;
}

form>div {
    margin-bottom: 30px;
}

.required {
    color: #f75c3d;
    font-style: italic;
    font-size: small;
}

button {
    color: #f75c3d;
    width: 300px;
    height: 50px;
    font-size: 30px;
    border: solid 3px #f75c3d;
    border-radius: 10px;
    background-color: #0000;
}

button:active {
    background-color: #ec7b7c33;
}

/* thanks.html */
#thanks_html {
    color: #f75c3d;
}