footer {
    text-align: center;
}

footer h1 {
    display: inline-block;
}

footer nav {
    margin-top: .5%;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    margin: .5% 1em;
}

#copy {
    margin-top: .5%;
}