footer {
    text-align: center;
    background-color: #ec7b7c;
    /* height: 20vmax; */
    width: 100%;
}

@media screen and (max-width: 800px) {
    footer h1 {
        display: inline-block;
        color: #fff;
        margin-top: 2.5vmin;
        font-size: 4.5vmin;
    }
}
  
@media screen and (min-width: 800px) {
    footer h1 {
        display: inline-block;
        color: #fff;
        margin-top: 2.5vmin;
    }

    footer .mobile {
        display: none;
    }
}

footer nav {
    margin-top: .5%;
}

.foot_div {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5vmin auto;
}

.foot_div a {
    display: block;
    color: #fff;
    margin-top: .5vmin;
    text-decoration: none;
}

.foot_div a:hover {
    text-shadow: 0 0 .2em #fff8;
    transition: .2s;
}

.fnavs {
    color: #fff;
    margin-top: .5vmin;
    text-decoration: none;
}

.fnavs:hover {
    text-shadow: 0 0 .2em #fff8;
    transition: .2s;
}

#disclaimer {
    margin-top: 5vmin;
}

#disclaimer p {
    color: #fffa;
}

#disclaimer a {
    color: #fff;
}

#copy {
    margin-top: 2.5%;
    color: #fff;
}

.foot-ex {
    font-size: 14px;
}

footer .comma {
    color:  #fff;
}

@media screen and (max-width: 800px) {
    #copy {
        font-size: smaller;
    }
    footer .comma {
        display: none;
    }
}