header {
    height: 15vmin;
    width: 100vw;
    vertical-align: middle;
    position: relative;
    background-color: #ec7b7c; /* ヘッダカラーは仮。ロゴ色と相談して調整 */
}

header #logo {
    display: inline-flex;
    width: 10%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

header nav  ul:nth-of-type(1){
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 35%;
    transform: translateY(-50%);
}

header nav  ul:nth-of-type(2){
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 65%;
    transform: translateY(-50%);
}

header li {
    display: inline-block;
    margin-right: 1em;
    padding: 1vmin;
}

header li a {
    color: #ffffff;
    font-size: 2vmin;
    text-decoration: none;
    transition: .2s;
}

header li a:hover {
    text-shadow: 0 0 .2em #fff8;
    transition: .2s;
}

.navs {
    color: #ffffff;
    font-size: 2vmin;
    text-decoration: none;
    margin-right: 1em;
    padding: 1vmin;
    transition: .2s;
}

.navs:hover {
    text-shadow: 0 0 .2em #fff8;
    transition: .2s;
}

@media screen and (max-width: 800px) {
    header {
        height: 15vw;
    }
    
    header #logo {
        width: 25%;
        left: 7.5%;
    }

    header nav {
        display: none;
    }
}