header {
    height: 10vmin;
    width: 100vw;
    vertical-align: middle;
    position: relative;
    background-color: #f75c3d;
}

header #logo {
    display: inline-flex;
    width: 10%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

header nav {
    display: inline-flex;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

header li {
    display: inline-block;
    margin-right: 1em;
    padding: 1vmin;
}

header li a{
    color: #ffffff;
    font-size: 2vmin;
    text-decoration: none;
}