@media screen and (max-width: 800px) {
    #PH {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    #MH {
        display: none;
    }
}

@keyframes scrollarrow {
    40% {
        transform: translateY(10%);
    } 50% {
        transform: translateY(5%);
    } 80% {
        transform: translateY(100%);
    }
}

.preparing,.preparing path { /* 準備中のURLをグレーに表示 */
    color: #888a;
}