#imgwrap {
    width: 80%;
    margin: auto;
}

#imgwrap img {
    width: 100%;
}

#captions {
    margin-top: 5vmin;
}

#captions>div {
    display: inline-block;
    width: 45%;
    margin: auto 2.5%;
    vertical-align: top;
}

#captions>div>div {
    margin-bottom: 1.5vmin;
}

/* #captions>div {
    margin-left: 5%;
    width: 40%;
    display: inline-block;
    white-space: nowrap;
    overflow: scroll;
}

#captions>div::-webkit-scrollbar{
    display: none;
}   */

#captions>div>div>h3>span {
    margin: auto .5vmin;
}

.group {
    /* font-style: italic; */
    color: #888;
    font-size: small;
}