#Map {
    padding: 0 12.5vw;
}

#imgwrap {
    width: 80%;
    margin: auto;
}

#imgwrap img {
    width: 100%;
}

#Map div h2 span {
    /* text-shadow: 0 0 .5vmin #; */
    /* color: #fff; */
}

#super_stage h2>span {
    color: orange;
    /* text-shadow: 0 0 2vmin orange; */
    margin-right: .5vmin;
}