#Map {
    padding: 0 12.5vw;
}

#imgwrap {
    width: 80%;
    margin: auto;
}

#imgwrap img {
    width: 100%;
}

#captions {
    margin-top: 5vmin;
}

/* #captions>div {
    margin-left: 5%;
    width: 40%;
    display: inline-block;
    white-space: nowrap;
    overflow: scroll;
}

#captions>div::-webkit-scrollbar{
    display: none;
}   */

#captions>div>h2>span {
    margin-right: .5vmin;
}

#super_stage h2>span {
    color: orange;
    /* text-shadow: 0 0 2vmin orange; */
}