#Program {
    background-color: #f8f8f8;
    padding: 0 12.5vw;
}

.pgGroup {
    display: inline-block;
}

.pgWrap {
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 5vmin;
}

.program {
    width: 25vmax;
    height: 25vmax;
    display: inline-block;
    background-color: #fdc16722;
    border-radius: 0 0 5vmin 0;
    margin: 10px 10px;
    text-align: center;
    white-space: initial;
    overflow: scroll;
}

.program h3 {
    margin: 2.5% 5%;
    text-align: left;
}

.program img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin: 0 auto;
}

.program p {
    text-align: left;
    margin: 2.5% 5% auto;
}