#Slogan {
    margin-top: 15vh;
}

#Slogan>div {
    display: inline-block;
}

#Slogan img {
    width: 45%;
}

#Slogan strong {
    font-size: large;
    text-decoration: underline;
}

#Slogan p {
    margin-top: 1.5vmin;
}

#toblog {
    opacity: .8;
}