table.timetable-table {
    max-width: 100%;
    background-color: transparent;
}

.timetable-table td {
    font-size: 150%;
}

.time td {
    font-size: 100%;
}

.timetable-table {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.timetable-table>thead th,
.timetable-table>tbody>tr td {
    text-align: center;
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.timetable-table-bordered>thead>th,
.timetable-table-bordered>tbody>tr>td {
    border: 1px solid #dddddd;
}

.timetable-table>thead th {
    font-size: 1.25em;
}

.timetable-table>thead th .month {
    font-size: 0.8em;
    vertical-align: top;
}

.timetable-table>thead th .day {
    font-size: 0.6em;
}

.time {
    width: 10%;
}

.stage {
    width: 30%;
}

td {
    color: #ec7b7c;
}

.end {
    color: #777;
    font-size: smaller;
    margin-right: 5%;
}

.subarea {
    color: #3dbdbe;
}

.subarea-ex {
    color: #3dbdbe;
    font-size: small;
}

.junbikomi {
    font-size: small;
}

table .mobile {
    display: none;
}

@media screen and (max-width:800px) {
    .timetable-table>thead th {
        font-size: small;
    }
    .timetable-table td {
        font-size: small;
    }
    .time {
        width: 2.75%;
    }
    
    .subarea-ex,.junbikomi {
        font-size: xx-small;
    }
    table .mobile {
        display: unset;
    }
    
}