#Top {
    padding-top: 10vh;
}

@media screen and (max-width:800px) {
    #Top {
        padding-top: calc(10vh + 100px);
    }
}

#Top>div {
    display: inline-block;
}

#Top img {
    width: 45%;
}

#Top strong {
    font-size: large;
    text-decoration: underline;
}

#Top p {
    margin-top: 1.5vmin;
}

#toblog,
#toblog>a,
#toblog path {
    color: #888;
}