/* 
color: #fdc167; //薄い
color: #f75c3d; //濃い
color: #ec7b7c; //淡い
*/

* {
  margin: 0;
  color: #555;
  font-family: mamelon,sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::selection {
  color: #fff;
  background-color: #ec7b7ccc;
  text-decoration: underline dotted #fff;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
}

#root {
  width: 100vw;
}

.sec-wrap {
  width: 100vw;
}

.section { /* PCサイズ */
  margin: 0 auto;
  padding: 0 15vw;
  width: 70vw;
}

@media screen and (max-width: 800px) { /* 中サイズ */
  .section {
    width: 80%; 
    padding: auto 10%;
    margin: 0;
    background-color: #f75c3d;
  }
}

@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
}

.sec-wrap:nth-of-type(2n) {
  background-color: #f7f7f7;
}

h1 {
  font-family: vdl-logojrblack,sans-serif;
  font-style: normal;
}

.pointer {
  cursor: pointer;
}

.sec-title {
  color: #555;
  padding-left: 5%;
  padding-top: 2.5%;
  margin-bottom: 2.5%;
  border-bottom: solid 2px #f75c3d;
}